<h1 class="toolbawks_title">Asset Manager</h1>

<div id="toolbawks_asset_manager" class="toolbawks_asset_manager" uploader="true" name="true" description="false" filter="true" association_klass="Product" association_id="1"></div>