<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Toolbawks :: Asset Manager</title>
	<%= javascript_include_tag 'prototype', 'effects' %>
	<%= ext_toolbawks_head (:debug => true) %>
	<%= core_toolbawks_head %>
	<%= asset_toolbawks_head %>
</head>
<body>
	<%= yield %>
</body>
</html>